spring:
  application:
    name: admin-service

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    # can set registry fetch true by default
    register-with-eureka: true
    fetch-registry: true

  datasource:
    url: jdbc:h2:mem:administratorDB;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

# Optional: H2 console
management:
  endpoints:
    web:
      exposure:
        include: "*"
