eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

server:
  port: 8081

spring:
  application:
    name: admin-service

#  datasource:
#    url: jdbc:mysql://localhost:3306/administratorDB?useSSL=false&createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
#    driverClassName: com.mysql.cj.jdbc.Driver
#    username: root
#    password: root
#
#  jpa:
#    hibernate:
#      ddl-auto: update
#    show-sql: true
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.MySQLDialect

# Optional: H2 console
management:
  endpoints:
    web:
      exposure:
        include: "*"
