server:
  port: 8761

spring:
  application:
    name: eureka-server

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
  # default settings are OK
management:
  endpoints:
    web:
      exposure:
        include: "*"
